/*--general*/

* {
    box-sizing: border-box;
}

  body {
    font-family: 'Roboto Slab', serif;
    line-height:1.5;
    text-align:center;
    background-color:mistyrose;
  }

  h1 {
    font-family: 'Over the Rainbow', cursive;
    letter-spacing: 5px;
    text-align: center;
  }
  h2,h3,h4,h5,h6 {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 5px;
    text-align: center;
  }

a {
    color:red;
    text-decoration:none;
  }

a:hover{
  color:white;
  text-transform:uppercase;
}
i{
  font-size:24px !important;

}

/* header*/
header {
  background-image:url('../images/girlWithDog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:73vh;
  padding:1%;
}

nav {
  text-align:right;
  letter-spacing:2px;
  padding-top:2%;
}

.Links{
  display:flex;
  flex-direction:row;
  justify-content:space-Between;
}

nav img {
  width:70%;
}
.titles{
  padding-top:5%;
}

/*About section*/

.about {
  padding:3%;
  background-color:pink;
  margin:3% 0;
}

/*skills section*/
#skills{
  background-color:seashell;
}

/*video section*/

#video {
  height:70vh;
  padding:0;
}

#video iframe{
  width: 100%;
  height:100%;
}

/*experience section*/
.experience{
  background-color:seashell;
  padding:5%% 5;
}
ul li{
    list-style-type: square;
}

/*footer*/
footer {
  background-image:url('../images/beach.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:75vh;
  margin-top:1%;
  padding:1%;
}

input, textarea{
  text-align:center;
}

button{
  margin-top:1%;
  padding-top:1% !important;
  font-family:'Roboto Slab', serif;

}
button:hover{
    color:white;
}
footer nav{
  text-decoration: none;
  text-align:center;
  padding-top:2%;
  margin:2%;
}
textarea{
  padding:40%;
}

nav i{
  margin-top:5%;
  width:25px !important;
}
